<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Carta - Lora Café</title>
  <script src="https://kit.fontawesome.com/eb344c5846.js" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet" />
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>

  <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloCarta.css}" />
  <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloNavbar.css}" />
  <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloFooter.css}" />
</head>

<body>
  <div th:replace="~{Cliente/fragments/navbar :: navbar}"></div>

  <main class="menu-page-container">
    <div class="title">
      <h1>Nuestra Carta</h1>
      <p>Descubre nuestra selección de cafés, postres y más, preparados con los mejores ingredientes.</p>
    </div>

    <div class="btn-container">
      <button class="filter-btn active" data-id-categoria="todos">Todos</button>
      <button th:each="categoria : ${categorias}" class="filter-btn" th:attr="data-id-categoria=${categoria.id}"
        th:text="${categoria.nombre}">
      </button>
    </div>

    <div class="product-grid" id="productos-container">
    </div>
  </main>

  <div th:replace="~{Cliente/fragments/footer :: footer}"></div>

  <script th:src="@{/assets/cliente/js/Carta.js}"></script>
  <script th:src="@{/assets/cliente/js/Navbar.js}"></script>
</body>

</html>