<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sobre Nosotros - Lora Café</title>
    <meta name="_csrf" th:content="${_csrf.token}" />
    <meta name="_csrf_header" th:content="${_csrf.headerName}" />

    <script src="https://kit.fontawesome.com/eb344c5846.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
    <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloNosotros.css}" />
    <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloNavbar.css}" />
    <link rel="stylesheet" th:href="@{/assets/cliente/css/EstiloFooter.css}" />
</head>

<body>
    <div th:replace="~{Cliente/fragments/navbar :: navbar}"></div>

    <main class="content-wrap">
        <div class="heading">
            <h1>Sobre Nosotros</h1>
        </div>

        <div class="container">
            <section class="about">
                <div class="about-image animate-left">
                    <img th:src="@{/img/img-nosotros/fondocafe5.jpg}" alt="Interior de Lora Café" />
                </div>
                <div class="about-content animate-right">
                    <h2>¿Quiénes Somos?</h2>
                    <p>
                        Somos Lora Café nos dedicamos a ofrecer una experiencia única para los amantes del café.
                        Desde nuestros inicios, nos hemos comprometido a seleccionar los mejores
                        granos de las regiones cafetaleras más reconocidas del país, garantizando
                        calidad y sabor en cada taza. Nuestro ambiente acogedor y moderno es el lugar
                        ideal para relajarse, trabajar o compartir un momento especial.
                        <span id="extraContent">
                            Además de una amplia variedad de cafés, ofrecemos deliciosas opciones de pastelería
                            artesanal y platos ligeros preparados con ingredientes frescos y locales.
                            En Lora Café, creemos en la importancia de la sostenibilidad, por lo que
                            trabajamos con proveedores responsables y mantenemos prácticas amigables
                            con el medio ambiente. ¡Ven a disfrutar del auténtico sabor del café en Lora Café!
                        </span>
                    </p>
                    <button id="toggleButton" class="toggle-button">Leer más</button>
                </div>
            </section>

            <div class="mision-vision-container">
                <div class="mision card-mv">
                    <img th:src="@{/img/img-nosotros/mision.png}" alt="Imagen Misión" />
                    <h3>Nuestra Misión</h3>
                    <p>Ofrecer una experiencia única en cada visita, combinando el mejor café peruano con un servicio amigable y responsable, en un ambiente acogedor.</p>
                </div>
                <div class="vision card-mv">
                    <img th:src="@{/img/img-nosotros/vision.jpg}" alt="Imagen Visión" />
                    <h3>Nuestra Visión</h3>
                    <p>Ser la cafetería preferida en la región, destacando por la calidad de nuestros productos y el compromiso con la sostenibilidad y la comunidad.</p>
                </div>
            </div>

            <section class="about">
                <div class="about-content animate-left">
                    <h2>Nuestras Actividades</h2>
                    <p>En Lora Café, la Navidad es una época para compartir, brindar momentos especiales y llenar de calidez a nuestra comunidad. Este año, nos hemos propuesto llevar un poco de alegría a las calles, y qué mejor manera de hacerlo que con lo que mejor sabemos hacer: un buen café y un delicioso chocolate caliente.</p>
                    <p><br>El espíritu navideño nos inspira a ser parte activa de nuestro entorno, por eso, nos hemos aventurado a salir de las puertas de nuestra cafetería para ofrecer gratuitamente a todos los transeúntes una taza de café peruano recién preparado y un reconfortante chocolate caliente. Nuestro equipo de Lora Café recorrerá las principales avenidas de la ciudad, llevando sonrisas y el sabor único de nuestras bebidas a aquellos que más lo necesitan en esta temporada.</p>
                    <br>
                    <p><strong>Estas actividades se realizan con éxito gracias a nuestro GRAN EQUIPO LORA CAFÉ.</strong></p>
                </div>
                <div class="about-image animate-right">
                    <img th:src="@{/img/img-nosotros/repartir.jpg}" alt="Actividades de Lora Café" />
                </div>
            </section>

            <section class="team-section">
                <h2>Nuestro Equipo 💪🏻</h2>
                <div class="promociones-grid"> 
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi16.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi2.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi3.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi4.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi5.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi6.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi7.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi8.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi9.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi10.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi11.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi12.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi13.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi14.jpg}" alt="Miembro del equipo"></div>
                    <div class="promocion"><img th:src="@{/img/img-nosotros/equi15.jpg}" alt="Miembro del equipo"></div>
                </div>
            </section>

            <section class="contact-section">
                <div class="titulo">
                    <h2>Contáctanos</h2>
                </div>
                
                <div sec:authorize="isAuthenticated()" class="contact-box">
                    <div class="contact-form">
                        <h3>Comunícanos tu consulta</h3>
                        <form id="contact-form">
                            <p>Enviando como: <strong sec:authentication="principal.username"></strong></p>
                            <textarea placeholder="Escribe aquí tu mensaje..." rows="6" required></textarea>
                            <button type="submit">Enviar Mensaje</button>
                        </form>
                    </div>
                    <div class="contact-info">
                        <h3>Información de Contacto</h3>
                        <ul>
                            <li><ion-icon name="location"></ion-icon> <span>Calle Lima 135, Ica, Perú</span></li>
                            <li><ion-icon name="mail"></ion-icon> <a href="mailto:loraperu_ica@yahoo.com">loraperu_ica@yahoo.com</a></li>
                            <li><ion-icon name="call"></ion-icon> <a href="tel:+51998342524">+51 998 342 524</a></li>
                        </ul>
                    </div>
                    <div class="contact-mapa">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3547.709179536183!2d-75.7311644253136!3d-14.063691186361464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9110e2bdaa65294b%3A0xe0b331d1893a6111!2sLora%20caf%C3%A9!5e1!3m2!1ses!2spe!4v1728783360955!5m2!1ses!2spe"
                                style="border: 0" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                </div>

                <div sec:authorize="isAnonymous()" class="login-prompt">
                    <p>Para enviarnos un mensaje y ver nuestra respuesta en tu cuenta, por favor:</p>
                    <a th:href="@{/login}" class="btn-login-prompt">Inicia Sesión o Regístrate</a>
                </div>
            </section>
        </div>

        <div id="success-modal" class="modal">
            <div class="modal-content">
                <img th:src="@{/img/img-nosotros/reloj.jpg}" alt="Éxito" class="modal-image" />
                <p>¡Mensaje enviado! Pronto te responderemos. Podrás ver la respuesta en "Mi Cuenta".</p>
                <button id="close-modal">Cerrar</button>
            </div>
        </div>
    </main>

    <div th:replace="~{Cliente/fragments/footer :: footer}"></div>
    
    <script th:src="@{/assets/cliente/js/sobrenosotros.js}"></script>
    <script th:src="@{/assets/cliente/js/Navbar.js}"></script>
</body>

</html>